/.venv
/build
/dist
*.db
*.spec
tests/doc/

*.pyc
*.pyo
*.pyd
*.egg-info
**/__pycache__


settings.json
*/.idea/*
*/.git/*
*/.DS_Store
*/.env
*/.venv/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.ruff_cache/*
*/.pytest_cache/*

